body{
    background-color: black;
    color: white;
    display:grid;
    grid-template-columns: auto 800px auto;
}
#gameWindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start: 2;
    grid-column-start: 2;
    position:relative;
}
#maintitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;

}

/* dialogue bar */

#dialoguebar{
    bottom: 0px;
    left: 0px;
    width: 800px;
    height: 64px;
}
#dialoguecontent{
    position: relative;

}

#diedspeech{
    top: -519px;
    left: 259px;
    
}

/*  */

.gameObject{
    /*background-color: white;*/
    
    position: absolute;
    
}

.foreground{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}
#mainCharacter{
    left: 407px;
    top: 494px;
    transition:all 1s ease-in-out;
}

#keyslip{
    top: 279px;
    left: 149px;
    height: 20px;
}

#doorone{
   /* background-color: white;*/
    width: 32px;
    height: 47px;
    left: 528px;
    top: 114px;
}
#grass1{
   /* background-color: white;*/
   
    width: 256px;
    height: 32px;
    left: 256px;
    top: 447px;
}
#grass2{
   /* background-color: white;*/
    width: 32px;
    height: 129px;
    left: 480px;
    top: 478px;
}
#grass3{
   /* background-color: white;*/
    width: 384px;
    height: 64px;
    left: 0px;
    top: 544px;
}
#grass4{
  /* background-color: white;*/
    width: 128px;
    height: 544px;
    left: 0px;
    top: 0px;
}
#grass5{
   /* background-color: white;*/
    width: 94px;
    height: 255px;
    left: 128px;
    top: 0px;
}
#grass6{
  /*  background-color: white;*/
    width: 31px;
    height: 128px;
    left: 192px;
    top: 255px;
}
#grass7{
   /* background-color: white;*/
    width: 32px;
    height: 96px;
    left: 256px;
    top: 351px;
}
#grass8{
  /*  background-color: white;*/
    width: 158px;
    height: 32px;
    left: 223px;
    top: 256px;
}
#grass9{
   /* background-color: white;*/
    width: 32px;
    height: 96px;
    left: 352px;
    top: 287px;
}
#grass10{
   /* background-color: white;*/
    width: 288px;
    height: 31px;
    left: 384px;
    top: 352px;
}
#grass11{
  /*  background-color: white;*/
    width: 96px;
    height: 159px;
    left: 576px;
    top: 383px;
}
#grass12{
   /* background-color: white;*/
    width: 63px;
    height: 353px;
    left: 737px;
    top: 255px;
}
#grass13{
   /* background-color: white;*/
    width: 127px;
    height: 255px;
    left: 673px;
    top: 0px;
}
#grass14{
    /*background-color: white;*/
    width: 451px;
    height: 31px;
    left: 222px;
    top: 0px;
}

.speech-bubble2{
    
    border-radius: 6px;
    color: black;
    padding: 5px 5px 5px 20px;
    font-size: 35px;
    opacity: 1;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    
}

#wall1{
      
    width: 215px;
    height: 35px;
    left: 451px;
    top: 205px;
}
.speech-bubble {
    background: #ffffff;
    border-radius: 60px;
    color: #000;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    opacity: 0;
    width: 300px;
    transition: all 1s ease-in-out;
}
#mainCharacterSpeech {
    top: 0px;
    left: 80px;
}
#counterSpeech {
    top: 0px;
    right: 80px;
}
#counterCharacter {
    top: 0px;
    right: 0px;
    opacity: 0;
}